* {
	font-family: Arial, Helvetica, sans-serif;
}
/* header */
.navbar {
	padding: 0;
}
.nav-0 {
	background-color: rgb(100, 100, 100);
	border-radius: 0;
	border: 1px solid black;
	padding: 0;
}
.navbar-brand {
	font-size: 200%;
}
.navbar-nav {
	text-align: center;
	background-color: rgb(255, 255, 255);
}
.nav-link {
	border-bottom: 1px solid black;
}
/* Main Content */
.main-0 {
	background-color: rgb(100, 100, 100);
	height: 700px;
	padding: 10px;
	margin-top: 5%;
}

h2 {
	margin-bottom: 25px;
	text-align: center;
	font-size: 200%;
}
h3 {
	margin-bottom: 2%;
	text-align: center;
	font-size: 200%;
}
